@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    max-height: 100%;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: .3rem;
    height: .3rem;
}

::-webkit-scrollbar-thumb {
    background: rgb(248, 167, 75);
    border-radius: 1rem;
}

::-webkit-scrollbar-button {
    background-color: rgb(248, 167, 75);
    border-radius: 1rem;
}

.wallet {
    background-color: #fff;
    width: 30%;
    max-width: 100%;
}

.graph {
    width: 63%;
}

.chartBox {
    width: 100%;
    height: 50%;
    border: none;
}

.wallet h3,
.graph h3 {
    font-size: 1rem;
    color: #000;
    padding: 2rem 0 0 0;
}

.wallet h4 {
    font-size: .9rem;
    font-weight: 400;
    color:#dfdfdf;
    margin: 0;
}
.wallet h5 {
    font-size: .9rem;
    color:#8AF17E;
    font-weight: 600;
}

.graph h4 {
    font-size: .9rem;
    color: #000;
    padding: 1rem 0 0 0;
}

.btn-wallet {
    width: 100%;
    margin-top: 1.5rem;
    display: flex;
}

.btn-wallet-1,
.btn-wallet-2 {
    background-color: #fff;
    margin: 0;
    border: .1rem solid rgb(248, 167, 75);
    border-radius: .5rem;
    box-sizing: border-box;
    color: rgb(248, 167, 75);
    cursor: pointer;
    display: inline-flex;
    font-size: .9rem;
    padding: 0 .6rem 0 .6rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 1.8rem;
}
  
.btn-wallet-1:hover,
.btn-wallet-2:hover {
    background-color: rgb(248, 167, 75);
    color: #f7fafa;
}
  
.btn-wallet-1:focus,
.btn-wallet-2:focus {
    background-color: rgb(248, 167, 75);
    color: #f7fafa;
    outline: 0;
}

.btn-wallet-1,
.btn-wallet-2 {
    margin-left: .65rem;
}

.graph-filter {
    width: 100%;
    display: inline-flex;
    margin: 1rem 0 2rem 0;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.graph-filter button {
    background-color: #fff;
    margin: 0 1rem 0 0;
    border: .1rem solid rgb(248, 167, 75);
    border-radius: .5rem;
    box-sizing: border-box;
    color: rgb(248, 167, 75);
    cursor: pointer;
    font-size: .9rem;
    padding: 0 .6rem 0 .6rem;
    height: 1.8rem;
}
  
.graph-filter button:hover {
    background-color: rgb(248, 167, 75);
    color: #f7fafa;
}

.graph-filter-search {
    height: 1.8rem;
    display: flex;
    flex-direction: row;
    border: .1rem solid rgb(248, 167, 75);
    border-radius: .5rem;
    background : transparent;
    align-items : center;
    overflow: hidden;
}

.graph-filter-search input {
    outline: none;
    border: none;
    background: none;
    font-size: .9rem;
    padding: .5em;
    color: inherit;
    flex : auto 1 1;
    width : 100%;
    background : none;
    background-color : transparent;
}
  
.graph-filter-search .fa-solid {
    padding : 0 .5rem 0 .5rem;
    color: rgb(248, 167, 75);
    -webkit-text-stroke-width: 0;
}

.graph-filter-search input:focus {
    border: none;
    outline-color: #000;
}
  
.graph-filter-search ::placeholder {
    color: #dfdfdf;
}

.last-transactions h2 {
    margin-top: 1.5rem;
    font-size: .9rem;
}

.last-transactions img {
    height: 2.4rem;
    width: 2.4rem;
}

.last-transactions table {
    width: 100%;
    max-height: 60%;
    overflow-y: scroll;
    display: block;
    text-align: center;
    box-sizing: border-box;
}

.last-transactions table tbody {
    width: 100%;
    display: table;
}

.menu {
    background-color: #f5f5f5;
    max-height: 100%;
}

.nav {
    margin: 5rem .1rem 0 .1rem;
}

.nav-item {
    --bs-nav-link-padding-x: 0rem;
}

.fa-solid{
    color: #f5f5f5;
    -webkit-text-stroke-width: .1rem;
    -webkit-text-stroke-color: rgb(248, 167, 75);
}

.nav-pills li a i, span {
    margin: 0rem .5rem 0 .5rem;
    color: rgb(248, 167, 75);
    font-size: .8rem;
    cursor: pointer;
}

.nav-pills li a:hover > i, 
              a:hover > span {
    color: rgb(241, 241, 241);
}

.nav-pills li a:hover {
    border-radius: .3rem;
    background-color: rgb(248, 167, 75);
    cursor: pointer;
}

.user {
    font-size: .8rem;
    cursor: pointer;
    margin: 5rem 0 0 0;
}

.user a {
    margin-bottom: 1rem;
}

.user a:hover {
    border-radius: .3rem;
    background-color: transparent;
    cursor: pointer;
}

.user img {
    height: 2rem;
    width: 2rem;
}

.header-mobile {
    visibility: hidden;
    margin: 0;
    padding: 0;
    position: absolute;
}



@media (min-width: 800px) and (max-width: 1200px) {
    .btn-wallet-1,
    .btn-wallet-2 {
        font-size: .7rem;
    }
    .graph {
        width: 60vw;
    }
}

@media (min-width: 150px) and (max-width: 799px) {
    .header-mobile {
        visibility: visible;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        height: 20vh;
        padding: 2rem 0 1rem 0;
        background-color: #fff;
    }
    .header-mobile img {
        height: 2.8rem;
        width: 2.8rem;
        margin-right: 1.5rem;
    }
    .h-mobile-texts {
        margin-left: 1.5rem;
    }
    .h-mobile-texts h3 {
        font-size: 1.2rem;
        font-weight: 200;
    }
    .h-mobile-texts h4 {
        font-size: 1.8rem;
        font-weight: 600;
    }
    .graph {
        margin-top: 2rem;
        position: relative;
        width: 100%;
        display: block;
    }
    .graph-filter, .graph h3, .graph h4, .graph hr {
        visibility: hidden;
        margin: 0;
    }
    .chartbox {
        height: 100%;
        padding: 0 0.1rem 0 0.1rem;
        border-radius: 0.5rem;
        border: 1px solid rgb(248, 167, 75);
    }
    .wallet h3, .wallet hr {
        visibility: hidden;
        position: absolute;
    }
    .wallet {
        width: 100%;
    }
    .wallet h4, h5 {
        position: absolute;
        visibility: hidden;
    }
    .btn-wallet {
        margin: 1rem 0 1rem 0;
        display: flex;
    }
    .last-transactions h2 {
        margin-top: 0rem;
    }
    .last-transactions table {
        height: 30vh;
    }
    .row {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;
    }
    .menu {
        position: absolute;
        bottom: 0;
        min-width: 100vw!important;
    }
    .logo {
        visibility: hidden;
        position: fixed;
    }
    .nav {
        margin: 0!important;
    }
    .nav-item span {
        display: inline!important;
    }
    .nav-pills li a i, span {
        margin: 0.1rem 0rem 0rem 0rem;
    }
    .nav-item {
        --bs-nav-link-padding-x: .8rem
    }
    .user {
        visibility: hidden;
        position: absolute;
        margin: 0;
        padding: 0!important;
    }
    .flex-column {
        flex-direction: row!important;
    }
    .min-vh-100 {
        min-height: 5vh!important;
    }
    .justify-content-start {
        justify-content: center!important;
    }
    .d-flex {
        display: flex!important;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
    }
}